.map-marker {
    position: absolute;
    left: 0;
    top: 0;
    width: 35px;
    height: 35px;
    z-index: 600;
    background-size: contain;
    background-image: url(../img/mapmarker-green.png);
    display: none;
}.map-marker-red {
    background-image: url(../img/mapmarker-red.png);
}
.map-container .map-marker {
    width: 20px;
    height: 20px;
}
